/* calendar.css */
.fc {
    color: #000;
  }
  
  .fc-toolbar-title {
    font-size: 1.5em;
    white-space: nowrap;
  }
  
  .fc-button-primary {
    background-color: #000;
    border-color: #000;
  }
  .fc-day-today { 
    background-color: #aacdf3 !important;
  }