.DashContainer {
  display: flex;
  height: 100vh;
}

.RightContainer {
  top: 74px;
  flex: 1;
  background-color: rgb(203, 193, 193);
  flex-direction: column-reverse;
}

.LeftContainer {
  flex: 1;
}
