.Dash {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
}

.DashBoard {
  display: flex;
  height: 90%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.DashBox {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #28e6ff; */
  width: 100%;
  height: 100%;
  padding: 0.5%;
}

.Right {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #FFF; */
  width: 100%;
  height: 100%;
}

.twice {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
}

.Dash1 {
  background-color: #112a4a;
  border-radius: 30px;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
}

.Dash1-1 {
  background-color: #112a4a;
  border-radius: 30px;
  width: 100%;
  height: 120px;
  margin-left: 1%;
  align-items: center;
  display: flex;
}

.Dash1-11 {
  width: 200px;
  margin-left: 3%;
}

.Dash1-12 {
  width: 200px;
  font-size: 25px;
}

.item {
  color: white;
  margin-left: 5%;
  margin-top: 0.3rem;
}

.Dash2 {
  background-color: #112a4a;
  border-radius: 30px;
  width: 100%;
  height: 310px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.Dash3 {
  display: flex;
  align-items: center;
  background-color: #112a4a;
  border-radius: 30px;
  width: 100%;
  height: 205px;
}

.Dash3_B {
  position: relative;
  display: flex;
}

.item1 {
  width: 35px;
  color: white;
  position: absolute;
  bottom: 160px;
  margin-left: 2rem;
}

.item2 {
  width: 35px;
  color: white;
  position: absolute;
  bottom: 160px;
  margin-left: 15rem;
}

.item2-1 {
  width: 35px;
  color: white;
  position: absolute;
  bottom: 185px;
  margin-left: 19rem;
  border: 2px solid rgba(75, 192, 192, 1);
  padding: 8px;
}

.item3 {
  width: 35px;
  color: white;
  position: absolute;
  bottom: 160px;
  margin-left: 25rem;
}

.item3-1 {
  border: 2px solid rgba(192, 75, 192, 1);
  width: 35px;
  color: white;
  position: absolute;
  bottom: 185px;
  margin-left: 29rem;
  padding: 8px;
}
