
.divBody {
    width: 100%;
    height: 100%;
    background: #ae2b2b00;
}

.homePage {
    background-image: url("../../public/img2.jpg");
    /* 헤더 크기 72px */
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;

}

.homeBox {
  width: 100%;
  height: 23%;
  background: #ae2b2b00;
  justify-content: center;
  display: flex;
  position: absolute;
  bottom: 15%;
}

.homImge1 {
  background-position: center center;
  background-size: cover;
  background-image: url("../../public/img3.jpg");
  width: 300px;
  height: 100%;
}

.homImge2 {
  background-position: center center;
  background-size: cover;
  background-image: url("../../public/img4.jpg");
  width: 300px;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.homImge3 {
  background-position: center center;
  background-size: cover;
  background-image: url("../../public/img6.jpg");
  width: 300px;
  height: 100%;
}

.middelBox {
  width: 100%;
  height: 50%;
  background: #336af5;
}
