.background {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxBlack {
  background: rgba(0, 0, 0, 0.44);
  width: 100vw;
  height: 400px;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.background-image {
  background-image: url("../../public/img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: large;
}

.textStyleW {
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 9%;
}

.textStyleY {
  color: rgba(253, 213, 0, 0.99);
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-top: -4.8%;
}

.boxW {
  width: 886px;
  height: 187px;
  border-left: 3px solid #fff;
  background: rgba(217, 217, 217, 0);
  margin: auto;
  padding-left: 30px;
}
