/* Navbar.css */

.navbar {
    padding: 20px;
    background-color: rgba(253, 253, 253, 0);

}

.logo {
    font-size: 1.5em;
    /* 로고 텍스트 크기 조절 */
}

.button {
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 3px solid #0097EC;
}

.nav-links {
    display: flex;
    color: aliceblue;
}

.nav-links a:not(:last-child) {
    margin-right: 20px;
    /* 링크 사이에 간격 추가 */
}

.footerBackground {
    background-color: rgb(161, 161, 156);
    height: 150px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.textStyleB {
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.buttonStyle {
    border-radius: 3px;
    border: 2px solid #0097EC;
    background-color: rgb(253, 253, 253);
    width: 100px;
    height: 30px;
    font-family: Inter;
    font-size: 15px;
    color: #000000;

}

.joinModal {
    position: fixed;
    top: 5%;
    left: 25%;

    background-color: rgba(0, 0, 0, 0.7);
    /* 배경 불투명도 조절 */
    z-index: 1;
    /* 모달을 가장 위에 렌더링 */
    width: 500px;
    height: 650px;
    border-radius: 1px;
    border: 2px solid #FFF;
    background-color: #1f71a1d4;
}

.modalBox {
    width: 500px;
    height: 200px;
    margin-top: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.inputStyle {
    width: 400px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 1px;
    background: #ffffffc5;
}


.loginModal {
    position: fixed;
    top: 5%;
    left: 25%;

    background-color: rgba(0, 0, 0, 0.7);
    /* 배경 불투명도 조절 */
    z-index: 1;
    /* 모달을 가장 위에 렌더링 */
    width: 500px;
    height: 650px;
    border-radius: 1px;
    border: 2px solid #FFF;
    background-color: #1f71a1d4;
}

.styleText {
    margin-left: -70%;
    margin-bottom: -2px;
}