.post-back-ground {
  background-color: black;
  color: white;
  margin-top: 20px 10px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.info {
  display: flex;
  flex-direction: column;
}

.content-section {
  margin-top: 20px;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.comment-section {
  margin-top: 20px;
}

.comment {
  display: flex;
  margin-top: 10px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

input {
  width: 60%;
  padding: 5px;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="button"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #0056b3;
}

.update-label-1 {
  display: flex;
  color: gray;
  width: 250px;
  /* border-radius: 30px; */
}
.update-label-2 {
  display: flex;
  color: gray;
  width: 250px;
  /* border-radius: 30px; */
  min-height: 50vh;
}
.modal {
  background-color: black;
  color: black;
  padding: 20px;
  width: 200px;
  text-align: center;
}

/* 모달 버튼 스타일 */
.modal-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* 예 스타일 */
.yes-button {
  background-color: white;
  color: black;
}

/* 아니요 스타일 */
.no-button {
  background-color: white;
  color: black;
}
