body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    /* 오른쪽 정렬 */
    background-color: #f8f9fa;
    /* 네비게이션 바의 배경색 */
    padding: 20px;
    /* 네비게이션 바 내부의 패딩 */
}

.navbar_logo {
    display: flex;
}

.navbar_logo a {
    display: flex;
    align-items: center;
    /* 아이콘과 텍스트를 수직 중앙에 배치 */
    text-decoration: none;
    color: black;
    margin-left: 5px;
    /* Link 왼쪽 마진 설정 */
    margin-right: 15px;
    /* Link 오른쪽 마진 설정 */
}

.navbar_logo a i {
    font-size: 20px;
    margin-right: 5px;
}