/* main.css */
.box {
    margin: auto;
    width: 100vw;
    height: 544px;
    background: rgba(0, 0, 0, 0.44);
}

.textStyle {
    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 195px;
    margin-left: 50px;
}

.textStyle1 {
    color: rgba(253, 213, 0, 0.99);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-left: 50px;
    margin-top: -45px;
}