/* main.css */
.background {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.boxBlack {
    background: rgba(0, 0, 0, 0.44);
    width: 100vw;
    height: 400px;
    /* 수평 가운데 정렬 */
    flex-direction: column;
    text-align: left;
    align-items: center;


}

.background-image {
    /* 배경 이미지 설정 */
    background-image: url('../public/img1.jpg');
    /* 이미지 위치와 크기 조정 */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    /* 중앙 정렬을 위한 Flexbox 스타일 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 텍스트 스타일 */
    color: white;
    font-size: large;
}

.textStyleW {
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 9%;
}

.textStyleY {
    color: rgba(253, 213, 0, 0.99);
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-top: -4.8%;

}

.boxW {
    width: 886px;
    height: 187px;
    border-left: 3px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    margin: auto;
    padding-left: 30px;
}