.rolling {
    position: relative;
    padding: 0 40px;
    height: 70px;
    overflow: hidden;
    list-style: none;
}

.rolling-content {
    position: absolute; 
    width: 100%;
    height: 30px;
    padding: 20px 0;
	transition-duration: .5s; 
	transition-property : opacity, transform ;
	transform : translateY(100%);
	opacity :0 ;
}

.rolling-content.active {
	transform : translateY(0);
	opacity :1 ;
}

.rolling-header {
	font-weight:bold ; 
	margin-right :5px ;
}

.rolling-title{
	font-weight:normal ; 
}
